
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Our History</h2>
                <p>Started in 1814, originally named as Wagon Paint Shop, CPS quickly specialized into making astonishing paint jobs. The bright colors company used were not so popular but truely loyal customers remained and kept the company alive year after year. The transition from wagons to cars did not change this picture. The company is devoted to its roots and still paints car using methods and colors derived from ancestor.</p>
                <div class="well">
                    <blockquote>
                        <p>You better paint your wagon than let it rot.</p>
                        <footer>Horatio Wheelsaxel,  
                        <cite title="Source Title">The sayings of the master preserved to generations to come, Wagon Books, 1864</cite></footer>
                    </blockquote>                
                </div>

            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-vertical">
                            <dt>Started</dt>
                            <dd>29 Feb. 1814</dd>
                            <dt>Major Stake Holder</dt>
                            <dd>Wheelsaxel estate</dd>
                            <dt>Last Year's Turnover</dt>
                            <dd>$10,250</dd>
                            <dt>Employees</dt>
                            <dd>4</dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12" align="center">   
            <img class="img-circle img-thumbnail" src="images/HoratioWheelsaxel.jpg">        
            <p></p>Horatio Wheelsaxel in his prime, 1843.</p>            
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Facts &amp; Figures</h2>
                <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <th>
                            2014
                        </th>
                        <th>
                            2015
                        </th>
                        <th>
                            2016
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Employees
                        </th>
                        <td>
                           4
                        </td>
                        <td>
                            4
                        </td>
                        <td>
                            4
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Cars painted
                        </th>
                        <td>
                            15
                        </td>
                        <td>
                            17
                        </td>
                        <td>
                            16
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Special paint jobs
                        </th>
                        <td>
                            1
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            2
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Annual Turnover
                        </th>
                        <td>
                           $9,450
                        </td>
                        <td>
                            $10,250
                        </td>
                        <td>
                            ~$$15,250
                        </td>
                    
                    </tr>
                </table>
                </div>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div> 
    </div>
