
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-2 col-sm-push-10">
                <p style="padding:20px;"></p>
                <h3 align=center>Well painted car gets noticed</h3>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-pull-2">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                        src="images/coolcar.jpg" alt="Cool car">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">New car</h2>
                        <p>When your car is well painted, it looks good. People admire you and your car. It makes you feel good.</p>
                    </div> 
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                <h3 align=center>It is important to take care the paint of old cars</h3>
            </div>
            <div class="col-xs-12 col-sm-10">
                <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">Old car</h2>
                        <p>The older your car get the more important it is to take care of the paint job of your car. The old cars are fragile and thus even the smallest scratches can make it rust away. Regular check-ups are needed to keep the surface intact and the value of your vechile remains.</p>
                    </div>
                    <div class="media-right media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                        src="images/oldcar.jpg" alt="Old Car">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-2 col-sm-push-10">
                <p style="padding:20px;"></p>
                <h3 align=center>Whatever condition your car is in, we enjoy the challenge </h3>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-pull-2">
                <div class="media">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        src="images/brokencar.jpg" alt="Broken Car">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Broken car</h3>
                        <p>Whatever is the condition of your car, we do our very best to make it look like brand new. We enjoy challenges and with our high-tech equipments we can make even miracles to come true. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
