
   
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Key Personel</h2>
               <ul class="media-list">
                <li class="media" ng-repeat="person in personel">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src={{person.image}} alt="Personel">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{person.name}}
                        <small>{{person.designation}}</small></h3>
                        <p>{{person.description}}</p>
                    </div>
                </li>
            </ul>

            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>       
    </div>